{% extends "layout.html" %}
{% block content %}
    <img class="home-image" src="{{ url_for('static', filename='main.jpg') }}">
    <div class="description-margin">
        <div class="description">
            Suntem o companie înființată în anul 2004 și livrăm soluții complete de gaz și apă.
        </div>

        <div class="description">
            Oferta noastra cuprinde o gama variata de produse sanitare, care sunt la cele mai înalte standarde de
            calitate, fapt care e confirmat de certificatul ISO-9001 și de clienții noștri.
        </div>
    </div>
{% endblock content %}