<!DOCTYPE html>
<html>
<head>
    <title>Real Instal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <h2 class="title">Real Instal</h2>
            <menu>
                <a href="/produse">
                    <div class="link">Produse</div>
                </a>
                <a href="/desprenoi">
                    <div class="link">Despre noi</div>
                </a>
                <a href="/contact">
                    <div class="link">Contact</div>
                </a>
            </menu>
        </div>
    </header>

    <div class="container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>