{% extends "layout.html" %}
{% block content %}
    <div class="category-menu">
        <div class="category-title">Categorii</div>
        {% for c in categories %}
        <a href="/categorie/{{c[0]}}" class="category">
            <div class="category">{{c[1]}}</div>
        </a>
        {% endfor %}
    </div>

    <div class="products-container">
        {% for p in products %}
        <div class="product">
            <img src="/static/images/{{p[3]}}" class="product-image">
            <a href="/produs/{{p[0]}}">{{p[1]}}</a>
            <div class="price">Pret <span style="margin: 0 0.5em;">{{p[2]}}</span>lei</div>
            <div class="link add-to-cart">Add to cart</div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}